body {
  display: flex;
  margin: 0;
}

.left {
  /* display: inline-block; */
  height: 100vh;
  background-color: aqua;
  width: 20%;
  position: sticky;
  top: 0px;
}

.right {
  line-height: 2;
  width: 80%;
}
