.box {
  /* position: relative; */
  height: 200px;
  width: 400px;
  background-color: red;
  padding: 20px;
}

.child-box {
  position: relative;
  height: 80px;
  background-color: aquamarine;
  width: 20%;
}
