/* Core styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --to-inline-block: inline-block;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/static/OpenSans/OpenSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/static/OpenSans/OpenSans-Bold.ttf");
  font-weight: 600;
}

body {
  font-family: "OpenSans", sans-serif;
  background-color: #020a18;
  color: #fff;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* Navbar styles */
.navbar {
  padding-top: 10px;
}

.navbar > div {
  display: inline-block;
  vertical-align: middle;
}

.navigation-items li {
  display: var(--to-inline-block);
}

.navigation-items li {
  margin-right: 20px;
  list-style: none;
}

.navigation-items li:last-child {
  margin-right: 0;
}

.navigation-items a {
  text-decoration: none;
  color: #fff;
  /* font-family: "OpenSans"; */
  font-weight: 600;
}

.logo {
  margin-right: 100px;
}

.logo p {
  margin-left: 20px;
  color: #3a68b8;
  font-family: "OpenSans";
  display: inline-block;
  vertical-align: middle;
}

.logo div {
  display: inline-block;
  vertical-align: middle;
}

.sign-in {
  background-color: #3a68b8;
  border-radius: 5px;
  padding: 10px 30px;
  cursor: pointer;
  margin-left: 200px;
}

.sign-in .link {
  font-family: "OpenSans";
  color: #fff;
  text-decoration: none;
}

/* Home styles */
.home {
  padding: 60px 0 90px;
}

.home > div {
  display: inline-block;
  width: 49.8%;
  vertical-align: middle;
}

.main-section__img img {
  width: 100%;
}

.main-section__info .subtitle {
  text-transform: uppercase;
  color: #3a68b8;
  font-size: 18px;
}

.main-section__info .title {
  font-weight: 800;
  font-size: 42px;
  padding: 10px 0 40px;
}

.main-section__info .discription {
  line-height: 1.6;
  opacity: 0.7;
  margin-bottom: 50px;
}

.links-container a {
  display: inline-block;
  background-color: #3a68b8;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  padding: 15px 30px;
}

.links-container a:last-child {
  margin-left: 20px;
}

.links-container .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
}
