/* Core styles */
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/static/OpenSans/OpenSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/static/OpenSans/OpenSans-Bold.ttf");
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #020a18;
  color: #fff;
}

/* Navbar styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navigation-items {
  display: flex;
  align-items: center;
}

.navigation-items li {
  margin-right: 20px;
  list-style: none;
}

.navigation-items li:last-child {
  margin-right: 0;
}

.navigation-items a {
  text-decoration: none;
  color: #fff;
  font-family: "OpenSans";
  font-weight: 600;
}

.logo {
  display: flex;
  align-items: center;
}

.logo p {
  margin-left: 20px;
  color: #3a68b8;
  font-family: "OpenSans";
}

.sign-in button {
  background-color: #3a68b8;
  border-radius: 5px;
  padding: 10px 30px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}
